body {
  margin: 0;
  font-family: Garamond, serif;
  background-color: #ECE0DA;
}

header {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

nav {
    background-color: #9fc4b9;
}

article {
    background-color: #F6B0BB;
}

article.research {
    background-color: #919e9a;
}

aside {
    background-color: #5d7469;
}

section {
    background-color: #F1C8CB;
}

ul {
    background-color: #9fc4b9;
}

footer {
    background-color: #416157;
    color: white;
}